{% extends 'main.html' %}

{% block content %}
<div class="header-bar">
    <div class="greeting" style="margin-left:auto;margin-right:auto; text-align: center;">
        <h1>Hello {{ request.user|title }}</h1>
        <h3 class="incomplete-tasks">You have <i>{{ count }} incomplete task{{ count|pluralize:'s' }}</i></h3>
    </div>
    {% if request.user.is_authenticated %}
    <b><a href=" {% url 'logout' %}">Logout</a></b>
    {% else %}
    <b><a href="{% url 'login' %}">Login</a></b>
    {% endif %}

</div>

<div id="search-add-wrapper">
    <form action="" method="get">
        <input type="text" name="search-area" placeholder="Search Tasks ">
        <input class="button" type="submit" value="Search Task">
    </form>
    <b><a id="add-link" href="{% url 'create' %}">&#x2b;</a></b>
</div>

<div class="card-body" style="text-align: center;">
    <div class="task-items-wrapper">
        <table>
            {% for tasks in task %}
            {% if forloop.first %}
            <tr>
                <th>Status</th>
                <th>Title</th>
                <th>Created</th>
                <th>Due</th>
                <th>Delete</th>
            </tr>
            {%endif%}
            <tr>
                <td>
                    {% if tasks.complete %}
                    <div class="task-complete-icon"></div>
                    {% else %}
                    <div class="task-incomplete-icon"></div>
                    {% endif %}
                </td>
                {% if tasks.complete %}
                <td><i><s><a href="{% url 'update' tasks.id%}">{{ tasks }}</a></s></i></td>
                {% else %}
                <td><i><a href="{% url 'update' tasks.id%}">{{ tasks }}</a></i></td>
                {% endif %}
                <td>
                    <div>{{tasks.created}}</div>
                </td>
                <td>
                    <p>{{tasks.due_date}}</p>
                </td>
                <td><a class="delete-link" href="{% url 'delete' tasks.id %}">&#215;</a></td>
            </tr>
            {% empty %}
            <h3>No items in list</h3>
            <a href="{% url 'create' %}">Add New Item</a>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}