{% extends 'main.html' %}

{% block content %}
<div class="header-bar">
    <div class="greeting" style="margin-left:auto;margin-right:auto; text-align: center;">
        <h1>Hello {{ request.user|title }}</h1>
        <h3 class="incomplete-tasks">You have <i>{{ count }} incomplete task{{ count|pluralize:'s' }}</i></h3>
    </div>
    {% if request.user.is_authenticated %}
    <b><a href="{% url 'logout' %}">Logout</a></b>
    {% else %}
    <b><a href="{% url 'login' %}">Login</a></b>
    {% endif %}
</div>

<div id="search-add-wrapper">
    <form action="" method="get">
        <input type="text" name="search-area" placeholder="Search Tasks ">
        <input class="button" type="submit" value="Search Task">
    </form>
    <b><a id="add-link" href="{% url 'create' %}">&#x2b;</a></b>
</div>

<div class="card-body" style="text-align: center;">
    <div class="task-items-wrapper">
        {% for tasks in task %}
        <div class="task-wrapper">
            {% if tasks.complete %}
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'update' tasks.id%}">{{ tasks }}</a></s></i>
            </div>
            <div>Created: {{tasks.created}}</div>
            <p>{{tasks.due_date}}</p>
            <a class="delete-link" href="{% url 'delete' tasks.id %}">&#215;</a>
            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'update' tasks.id%}">{{ tasks }}</a>
            </div>
            <div>Created: {{tasks.created}}</div>
            <p>{{tasks.due_date}}</p>
            <a class="delete-link" href="{% url 'delete' tasks.id %}">&#215;</a>
            {% endif %}
        </div>
        {% empty %}
        <h3>No items in list</h3>
        <a href="{% url 'create' %}">Add New Item</a>
        {% endfor %}
    </div>
</div>
{% endblock content %}